@media (max-width:768px){
    .main-bar{
        position: static;
    }
}

@media (max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
}

@media (max-width:768px){
    .mt-md-3{
        margin-top: 1rem !important;
    }
}

@media (max-width:768px){
    .pt-md-3{
        padding-top: 1rem !important;
    }
}